.git
.github
.gitignore
.dockerignore
Dockerfile
README.md
CONTRIBUTING.md
HISTORY
LICENSE
ansible
doc
tests
node_modules
web/vendor
web/public/dist/**/*
!web/public/dist/**/.keep
web/config/settings.php
*.log
.idea
.vscode
