*~
.Trash-*
.DS_Store
.AppleDouble
.LSOverride

/var/logs/
/docs/build
/vendor

*.phar
*.sqlite

# PHPUnit
/tests/.phpunit.result.cache

agendav-built*
public/dist/css/*.css
public/dist/js/*.js

# Configuration file
/config/settings*

# Development
/node_modules/
/bower_components/
/dist/
.idea
