*~
.Trash-*
.DS_Store
.AppleDouble
.LSOverride

/docs/build
/var/*
!/var/.gitkeep
/vendor

*.phar
*.sqlite

# PHPUnit
/tests/.phpunit.result.cache

# PHP CS Fixer
.php-cs-fixer.cache

agendav-built*
resources/public/assets/dist/css/*.css
resources/public/assets/dist/js/*.js
resources/public/assets/dist/css/images/
resources/public/assets/img/jquery-ui/
resources/public/assets/font/
resources/public/assets/fullcalendar-locale/
public/test-calendar.ics

# Configuration file
/config/settings*
!/config/settings.template.php

# Development
/node_modules/
/bower_components/
/dist/
.idea
