/* Structure start */
body {
  background: url(img/bg.png) #fafafa top left repeat-x;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: #333;
}

a, a:visited {
  color: #D30000;
  text-decoration: none;
}

a:hover {
  color: #7B0000;
}

#header {
  padding-top: 1%;
  text-align: center;
}

#footer {
  text-align: center;
}

#footer p {
  margin: 0;
  color: #666;
}

#main {
  padding: 2%;
}

h1 { font-size: 197%; }
h2 { font-size: 153.9%; }
h3 { font-size: 108%; }

h1, h2, h3, h4 {
  font-family: 'Amaranth', sans-serif;
  text-shadow: 0px 1px 0px #fff;
}

div.block {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#block_1 {
  height: 90px;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
  font-size: 140%;
  text-shadow: 0px 2px 6px #000;
  background: url(img/bg_block1.png) #2ac0ff top right repeat-x;
}

#block_2 {
  padding: 10px;
  font-family: 'Amaranth', sans-serif;
  font-size: 120%;
  background: url(img/bg_block2.png) #aef36a top right repeat-x;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#block_2 span {
  text-shadow: 0px 2px 6px #000;
  color: #fff;
}

#block_3 {
  padding: 10px;
  font-family: 'Amaranth', sans-serif;
  font-size: 120%;
  margin-top: 1em;
  background-color: #fefefe;
  border: 2px solid #f0f0f0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#block_3 div {
  text-align: center;
}

div.tooltip {
  display: none;
  background: transparent url(img/white_arrow_big.png);
  height: 163px;
  padding: 40px 30px 10px 30px;
  width: 310px;
  color: #000;
}

div.tooltip table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

div.tooltip table td span {
  font-weight: bold;
}

div.ml_desc {
  font-size: 110%;
  font-weight: bold;
}

#screenshots {
  text-align: center;
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
