<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  >
  <testsuite name="AgenDAV">
    <directory>AgenDAV/</directory>
  </testsuite>
  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
  </listeners>
</phpunit>
