body {
  background: url("../img/bg_11.png") #c6c8cd top left repeat-x;
}
/* jQuery UI font override */
.ui-widget {
  font-family: 'Trebuchet MS', Arial, sans-serif !important;
  font-size: 1.1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Trebuchet MS', Arial, sans-serif !important;
  font-size: 1em;
}
.ui-button,
.ui-dialog .ui-dialog-buttonpane button,
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: default !important;
}
.loginform {
  background-color: #fff;
  padding: 20px;
  margin: 5% auto;
  text-align: center;
  width: 430px;
}
.loginerrors {
  width: 400px;
  margin: 5% auto 0 auto;
}
span.username {
  padding-left: 20px;
  background: url(../img/user.png) transparent left center no-repeat;
}
#sidebar {
  max-width: 200px;
}
#footer {
  text-align: center;
}
#footer p {
  color: #777777;
}
label.suboption {
  padding-left: 0.8em;
}
div#logo {
  text-align: center;
}
div.block {
  position: relative;
  margin: 0 auto 5% auto;
}
div.block .ui-widget-header {
  padding: 0.4em 1em 0.3em 1em;
}
div.block .buttons {
  text-align: right;
}
#calendar_add {
  margin: 5px;
}
.calendar_list ul,
.calendar_list li {
  list-style: none;
  cursor: default;
  padding: 0;
  margin: 0;
}
.calendar_list li {
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px;
}
.calendar_list li span.text {
  font-size: 0.9em;
  letter-spacing: -0.1em;
}
.calendar_list li:hover {
  background-color: #f0f0f0;
}
.calendar_list li.default_calendar {
  font-weight: bold;
}
.calendar_list li.transparent div.calendar_color {
  background-color: #ffffff !important;
  border: 1px solid #e0e0e0 !important;
}
#toggle_all_shared_calendars {
  position: absolute;
  right: 5px;
}
/* overlay starts */
#view_event_details_template,
#share_calendar_manager_row_template {
  display: none;
}
.view_event_details {
  width: 400px !important;
  max-width: 400px !important;
}
.view_event_details .label {
  font-weight: bold;
}
.view_event_details p.start_and_finish {
  font-style: italic;
}
.view_event_details .ui-tooltip-content div {
  line-height: 1.5em;
}
.view_event_details .description_value {
  margin-left: 2em;
  font-family: monospace;
  max-height: 150px;
  width: 90%;
  overflow: auto;
}
.view_event_details span.rrule_raw_value {
  font-family: monospace;
}
.view_event_details .actions {
  text-align: right;
}
.view_event_details .ui-tooltip-content {
  line-height: 150%;
}
.view_event_details .ui-tooltip-title {
  font-size: 120%;
}
/* overlay ends */
#delete_event_dialog .title {
  font-size: 120%;
  font-style: italic;
}
#delete_event_dialog .calendar {
  font-style: italic;
}
/* delete event dialog ends */
.time-picker {
  z-index: 9999 !important;
}
#ui-datepicker-div {
  z-index: 9999 !important;
}
div.public_url {
  width: 90%;
  text-align: right;
  font-size: 80%;
  margin-top: 1em;
}
span.shared {
  display: inline-block;
  height: 16px;
  width: 16px;
  padding-left: 5px;
  background-image: url(../img/share.png);
  background-position: 95% 50%;
  background-repeat: no-repeat;
}
div.share_info {
  background: url(../img/share_big.png) #fafafa center left no-repeat;
  padding: 10px 10px 10px 40px;
  border: 1px solid #e0e0e0;
  width: 350px;
  margin: 0.5em auto 0.5em auto;
}
/* 
 * Dialog buttons
 * --------------
 */
.btn-icon-cancel {
  background-image: url(../img/button-icons/cancel.png) !important;
}
.btn-icon-ok {
  background-image: url(../img/button-icons/ok.png) !important;
}
.btn-icon-event-delete,
.btn-icon-calendar-delete {
  background-image: url(../img/button-icons/calendar_delete.png) !important;
}
.btn-icon-calendar-add {
  background-image: url(../img/button-icons/calendar_add.png) !important;
}
.btn-icon-event-edit,
.btn-icon-calendar-edit {
  background-image: url(../img/button-icons/calendar_edit.png) !important;
}
.fc-border-separate td {
  border-color: #cbcbcb !important;
}
.fc-border-separate th.fc-first,
.fc-border-separate td.fc-first {
  border-left: 1px solid #b6b6b6 !important;
}
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right: 1px solid #b6b6b6 !important;
}
td.fc-other-month {
  background-color: #f9f9f9;
  border-style: dotted;
  border-color: #bfbfbf;
}
td.fc-sat,
td.fc-sun {
  background-color: #eaeaea;
}
td.fc-today {
  background-color: #FFFFCC !important;
  font-weight: bold;
  border: 2px solid #D2D267;
}
div.selecthelper {
  filter: alpha(opacity=50);
  opacity: 0.5;
  zoom: 1;
}
.fc-button {
  cursor: default !important;
}
.fc-event .fc-event-inner {
  font-size: 1.1em !important;
}
.fc-event-hori .fc-event-inner {
  padding: 0.1em 0 0.2em 0;
}
div.calendar_color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-width: 1px;
  border-style: solid;
}
.pseudobutton {
  display: inline-block;
  padding: 5px;
}
.pseudobutton:hover {
  background-color: #a9d6ff;
}
tr.share_calendar_manager_empty td {
  text-align: center !important;
  display: none;
}
table.share_calendar_manager_new {
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  background-color: #f6f6f6;
}
#prefs_buttons {
  margin-bottom: 10px;
}
.agendav-menu .ui-tooltip-content {
  padding: 0 3px;
}
#usermenu_content {
  display: none;
}
#usermenu_content ul {
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 5px 0;
}
#usermenu_content ul:hover {
  cursor: default !important;
}
#usermenu_content ul li {
  font-size: 14px;
  list-style: none;
}
#usermenu_content ul li  > a {
  display: block;
  line-height: 28px;
  padding: 0 5px 5px 30px;
  background-position: 8px center;
  background-repeat: no-repeat;
}
#usermenu_content ul li  > a.prefs {
  background-image: url(../img/setting_tools.png);
}
#usermenu_content ul li  > a.logout {
  background-image: url(../img/exit.png);
}
#usermenu_content ul li  > a:hover {
  background-color: #08c;
  color: #fff !important;
  text-decoration: none;
}
