/* colorPicker starts */
div.color_picker {
  float: left;
  height: 16px;
  width: 32px;
  padding: 0 !important;
  border-width: 0;
  background: url(../img/arrow_colorpicker.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
}

div#color_selector {
  width: 180px;
  position: absolute;
  border-width: 0;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}
  div#color_custom {width: 100%; float:left }
  div#color_custom label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div#color_custom input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #ccc; width: 65%; }

div.color_swatch {
  height: 24px;
  width: 24px;
  border-width: 0;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
/* colorPicker ends */
