Source: awl
Section: web
Priority: extra
Maintainer: Andrew McMillan <awm@debian.org>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Vcs-git: git://repo.or.cz/awl.git
Vcs-browser: http://repo.or.cz/w/awl.git
Homepage: http://andrew.mcmillan.net.nz/projects/awl

Package: libawl-php
Architecture: all
Depends: ${misc:Depends}, debconf (>= 1.0.32), perl
Recommends: php5 (>= 5.1)
Description: Andrew's Web Libraries - PHP Utility Libraries
 This package contains Andrew's Web Libraries.  This is a set
 of hopefully lightweight libraries for handling a variety of
 useful things for web programming, including:
  - Session management
  - User management
  - DB Records
  - Simple reporting
  - DB Schema Updating
  - iCalendar parsing
 .
 There is some documentation in the awl-doc package.

Package: awl-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, debconf (>= 1.0.32)
Description: Andrew's Web Libraries - API documentation
 This package documents Andrew's Web Libraries.  This is a set
 of hopefully lightweight libraries for handling a variety of
 useful things for web programming, including:
  - Session management
  - User management
  - DB Records
  - Simple reporting
  - DB Schema Updating
  - iCalendar parsing
 .
 This package contains detailed technical documentation for the
 classes and methods in these libraries.


