<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ asset(favicon, 'img') }}" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {% if stylesheets is defined %}
            {% for stylesheet in stylesheets %}
            <link href="{{ asset(stylesheet, 'css') }}" rel="stylesheet" type="text/css" />
            {% endfor %}
        {% endif %}

        {% if print_stylesheets is defined %}
            {% for stylesheet in print_stylesheets %}
            <link href="{{ asset(stylesheet, 'css') }}" rel="stylesheet" media="print" type="text/css" />
            {% endfor %}
        {% endif %}
<!--[if lt IE 9]>
<script src="{{ asset('es5-shim.js') }}"></script>
<![endif]-->
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block bottom %}{% endblock %}
    </body>
</html>
