<?php
$config['ldap_host'] = 'ldap.host.tld';
$config['ldap_port'] = 389;
$config['ldap_admin_dn'] = 'cn=admin,dc=dav,dc=com';
$config['ldap_admin_passwd'] = 'password';
$config['ldap_base_dn'] = 'dc=dav,dc=com';
$config['ldap_id_attr'] = 'uid';

// Search filter. %u will be replaced by username
$config['ldap_search_filter'] = '(&(uid=%u)(inetUserStatus=Active))'';

?>
